@import url('https://fonts.googleapis.com/css2?family=Barlow&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Rouge+Script&family=UnifrakturCook:wght@700&display=swap');
:root {
  --font-size: 26px;
  --font-primary: #555555;
  --space: 16px;
}

body {
  background: url("./assets/rose_border.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'EB Garamond', serif;
  color: var(--font-primary);
  font-size: var(--font-size);
  /* font-family: 'Rouge Script', cursive; */
  margin: 0;
}
